<!DOCTYPE html>
<html>
<head>
    <title>实时屏幕</title>
    <link rel="stylesheet" href="/screen/static/screenshot.css">
</head>
<body>
    <div id="video-container">
        <img id="mjpeg-stream" src="" alt="实时屏幕流">
    </div>
    <div id="fps-display">FPS: 0</div>

    <script src="/shared/static/jquery.js"></script>
    <script src="/shared/static/jquery-ui.min.js"></script>
    <script src="/screen/static/mjpeg-stream.js"></script>
    <script src="/screen/static/screen-control.js"></script>

    
</body>
</html>
